<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.user.start-minikube</string>
   <key>ProgramArguments</key>
   <array>
     <string>/bin/zsh</string>
     <string>-l</string>
     <string>-c</string>
     <string>minikube start --driver=hyperkit --no-kubernetes && sleep 31536000</string>
   </array>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>
